<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hexadash - <%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%- locals.base %>css/plugin.min.css">
    <link rel="stylesheet" href="<%- locals.base %>css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- locals.base %>img/favicon.png">
</head>
<body>
    <%- body %>
    <script src="<%- locals.base %>js/plugins.min.js"></script>
    <script src="<%- locals.base %>js/script.min.js"></script>
</body>
</html>