
<main class="main-content">
    <div class="admin" style="background-image: url('<%- locals.base %>img/admin-bg-light.png');">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-8">
                    <div class="edit-profile">
                        <div class="edit-profile__logos">
                            <img class="dark" src="<%- locals.base %>img/logo_dark.svg" alt="">
                            <img class="light" src="<%- locals.base %>img/logo_white.svg" alt="">
                        </div>
                        <div class="card border-0">
                            <div class="card-header">
                                <div class="edit-profile__title">
                                    <h6>Sign in HexaDash</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="edit-profile__body">
                                    <div class="edit-profile__body">
                                        <form action="<%- locals.base %>register" method="post">
                                            <div class="form-group mb-20">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" value="<%if (locals.input && locals.input.name) {%><%- input.name %><%}%>" placeholder="Name">
                                                <% if(locals.errors && locals.errors.name) {%>
                                                    <span class="text-danger"><%- errors.name %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-20">
                                                <label for="email">Email Address</label>
                                                <input type="text" class="form-control" id="email" name="email" value="<%if (locals.input && locals.input.email) {%><%- input.email %><%}%>" placeholder="Email Address">
                                                <% if(locals.errors && locals.errors.email) {%>
                                                    <span class="text-danger"><%- errors.email %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-15">
                                                <label for="password-field">Password</label>
                                                <div class="position-relative">
                                                    <input id="password-field" type="password" class="form-control" name="password" placeholder="Password">
                                                    <div toggle="#password-field" class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2">
                                                    </div>
                                                  </div>
                                                <% if(locals.errors && locals.errors.password) {%>
                                                    <span class="text-danger"><%- errors.password %></span>
                                                <% } %>
                                            </div>
                                            <div class="admin-condition">
                                                <div class="checkbox-theme-default custom-checkbox ">
                                                    <input class="checkbox" type="checkbox" id="check-1">
                                                    <label for="check-1">
                                                        <span class="checkbox-text">Creating an account means you’re okay
                                                            with our <a href="#" class="color-primary">Terms of
                                                                Service</a> and <a href="#" class="color-primary">Privacy
                                                                Policy</a>
                                                            my preference</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                                <button type="submit" class="btn btn-primary btn-default w-100 btn-squared text-capitalize lh-normal px-50 signIn-createBtn ">
                                                    Create Account
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="px-20">
                                <p class="social-connector social-connector__admin text-center">
                                    <span>Or</span>
                                </p>
                                <div class="button-group d-flex align-items-center justify-content-center">
                                    <ul class="admin-socialBtn">
                                        <li>
                                            <button class="btn text-dark google">
                                                <img class="svg" src="<%- locals.base %>img/google-Icon.svg" alt="img" />
                                            </button>
                                        </li>
                                        <li>
                                            <button class=" radius-md wh-48 content-center facebook">
                                                <i class="uil uil-facebook-f"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="radius-md wh-48 content-center twitter">
                                                <i class="uil uil-twitter"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="radius-md wh-48 content-center github">
                                                <i class="uil uil-github"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="admin-topbar">
                                <p class="mb-0">
                                    Don't have an account?
                                    <a href="<%- locals.base %>" class="color-primary">
                                        Sign In
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div href="#" data-layout="dark" class="dark-mode-toggle dark-trigger">
    <ul>
        <li>
            <a href="#">
                <i class="uil uil-moon"></i>
            </a>
        </li>
    </ul>
</div>