<%- include('../partials/_header')  %>
<body class="layout-light side-menu">
    <div class="mobile-search">
        <form action="<%- locals.base %>" class="search-form">
            <img src="<%- locals.base %>img/svg/search.svg" alt="search" class="svg">
            <input class="form-control me-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>
    <div class="mobile-author-actions"></div>
    <header class="header-top">
        <%- include('../partials/_top_nav')  %>        
    </header>
    <main class="main-content">
        <aside class="sidebar-wrapper">
            <%- include('../partials/_menu')  %>
        </aside>
        <div class="contents">
            <%- body %>           
        </div>
        <footer class="footer-wrapper">
            <%- include('../partials/_footer')  %>            
        </footer>
    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>
    <div class="overlay-dark-sidebar"></div>    
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    <!-- <script src="<%- locals.base %>js/env.js"></script> -->
    <script>
        var env = {
            iconLoaderUrl: "<%- locals.base %>js/json/icons.json",
            googleMarkerUrl: "<%- locals.base %>img/markar-icon.png",
            editorIconUrl: "<%- locals.base %>img/ui/icons.svg",
            mapClockIcon: "<%- locals.base %>img/svg/clock-ticket1.svg"
        }
    </script>
    <script src="<%- locals.base %>js/plugins.min.js"></script>
    <script src="<%- locals.base %>js/script.min.js"></script>   
</body>
</html>